<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片文字识别</title>
    <!-- 注意检查是否导入styles.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="main-nav">
        <!-- <div class="nav-brand">test系统</div> -->
        <!--修改为可点击的标题  -->
        <a href="{{ url_for('workspace_main.index') }}" class="nav-brand">test系统</a>
        <ul class="nav-menu">
        <!-- 修改一下这边的url对应的函数 -->
            <li><a href="{{ url_for('workspace_main.workspace1_api.index') }}" class="nav-link">工作区一</a></li>
            <li><a href="{{ url_for('workspace_main.workspace2_api.index') }}" class="nav-link">工作区二</a></li>
        
        </ul>
        <!-- <div class="user-info">
            <span class="username">{{ username }}</span>
            <a href="{{ url_for('auth.logout') }}" class="logout-btn">退出登录</a>
        </div> -->
    </nav>
    
    <div class="container">
        <!-- 导航栏 -->

        <h1 class="title-spacer">穿行测试用例识别</h1>
        <div class="keyword-input">
            <label for="keyword">关键词：</label>
            <input type="text" id="keyword" placeholder="输入要查找的词汇（如'编号：'）">
        </div>
        
        <div class="upload-box">
            <input type="file" id="imageInput" accept=".png,.jpg,.jpeg">
            <label for="imageInput" class="upload-label">
                <span>点击选择图片</span>
                <span class="supported-files">(支持格式: PNG/JPG/JPEG)</span>
            </label>
        </div>

        <div class="preview-box">
            <img id="imagePreview" alt="图片预览">
        </div>
        <button class="process-btn" id="processBtn">开始识别</button>
        <!-- <button class="process-btn" onclick="processImage()">开始识别</button> -->

        <div class="result-box">
            <h2>识别结果：</h2>
            <pre id="resultText">等待识别结果...</pre>
        </div>
    </div>

    <script src="{{ url_for('static', filename='ocr.js') }}"></script>
    
</body>
</html>